.player-cart{
    border-radius: 10px ;
    border: 2px solid lightblue;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 30px gray;
    color: #09198f;
}
.player-cart:hover{
  box-shadow: 10px 10px 30px black;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }